asgiref==3.7.2
attrs==23.2.0
certifi==2024.2.2
cffi==1.16.0
chromedriver-py==123.0.6312.86
distlib==0.3.8
Django==5.0.6
django-crispy-forms==2.1
filelock==3.15.4
h11==0.14.0
idna==3.6
markdown2==2.4.12
outcome==1.3.0.post0
pillow==10.2.0
platformdirs==4.2.2
pycparser==2.22
PySocks==1.7.1
pytz==2024.1
selenium==4.19.0
setuptools==69.0.3
sniffio==1.3.1
sortedcontainers==2.4.0
sqlparse==0.4.4
trio==0.25.0
trio-websocket==0.11.1
typing_extensions==4.10.0
tzdata==2023.4
urllib3==2.2.1
virtualenv==20.26.3
wsproto==1.2.0
